body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}
.con1{
    width: 45%;
}
.con1 img{
    width: 400px;
}
.con2{
    width: 50%;
}
.con2 h2{
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 213, 0);
}

.countdown{
    font-size: 34px;
    color: lightsalmon;
}
/* For mobile phones */
@media only screen and (max-width: 600px) {
    body {
        padding: 0 20px; /* Adjust padding for mobile */
        display: block;
    }

    .con1, .con2 {
        width: 100%; /* Make containers full width for mobile */
    }

    .con1 img {
        width: 100%; /* Make images full width for mobile */
    }

    .con2 h2 {
        font-size: 24px; /* Decrease font size for mobile */
    }

    .countdown {
        font-size: 28px; /* Adjust font size for countdown on mobile */
    }
}